/*
 * Questetra BPM Suite APIs
 * Questetra BPM Suite APIs
 *
 * OpenAPI spec version: 12.3.0
 * Contact: support@questetra.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.questetra.bpms.client.swagger.api;

import com.questetra.bpms.client.swagger.ApiCallback;
import com.questetra.bpms.client.swagger.ApiClient;
import com.questetra.bpms.client.swagger.ApiException;
import com.questetra.bpms.client.swagger.ApiResponse;
import com.questetra.bpms.client.swagger.Configuration;
import com.questetra.bpms.client.swagger.Pair;
import com.questetra.bpms.client.swagger.ProgressRequestBody;
import com.questetra.bpms.client.swagger.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.questetra.bpms.client.swagger.model.ActivityList;
import com.questetra.bpms.client.swagger.model.Errors;
import com.questetra.bpms.client.swagger.model.ProcessModelInfoList;
import com.questetra.bpms.client.swagger.model.ProcessModelReseaseResult;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ProcessModelApi {
    private ApiClient apiClient;

    public ProcessModelApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ProcessModelApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for listAllProcessModels
     * @param limit Max number of records to return (optional)
     * @param start The offset of the first record to return (optional)
     * @param category Category of Process Model (optional)
     * @param query Search String (optional)
     * @param starredOnly Search for a starred Process Model (optional)
     * @param dbFile Search for a process model that uses a file with the specified name (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call listAllProcessModelsCall(Integer limit, Integer start, String category, String query, Boolean starredOnly, String dbFile, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/API/Admin/ProcessModel/list";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (start != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("start", start));
        if (category != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("category", category));
        if (query != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("query", query));
        if (starredOnly != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("starredOnly", starredOnly));
        if (dbFile != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("dbFile", dbFile));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basic", "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call listAllProcessModelsValidateBeforeCall(Integer limit, Integer start, String category, String query, Boolean starredOnly, String dbFile, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = listAllProcessModelsCall(limit, start, category, query, starredOnly, dbFile, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieving a List of Process Models
     * Retrieving a List of Process Models
     * @param limit Max number of records to return (optional)
     * @param start The offset of the first record to return (optional)
     * @param category Category of Process Model (optional)
     * @param query Search String (optional)
     * @param starredOnly Search for a starred Process Model (optional)
     * @param dbFile Search for a process model that uses a file with the specified name (optional)
     * @return ProcessModelInfoList
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ProcessModelInfoList listAllProcessModels(Integer limit, Integer start, String category, String query, Boolean starredOnly, String dbFile) throws ApiException {
        ApiResponse<ProcessModelInfoList> resp = listAllProcessModelsWithHttpInfo(limit, start, category, query, starredOnly, dbFile);
        return resp.getData();
    }

    /**
     * Retrieving a List of Process Models
     * Retrieving a List of Process Models
     * @param limit Max number of records to return (optional)
     * @param start The offset of the first record to return (optional)
     * @param category Category of Process Model (optional)
     * @param query Search String (optional)
     * @param starredOnly Search for a starred Process Model (optional)
     * @param dbFile Search for a process model that uses a file with the specified name (optional)
     * @return ApiResponse&lt;ProcessModelInfoList&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ProcessModelInfoList> listAllProcessModelsWithHttpInfo(Integer limit, Integer start, String category, String query, Boolean starredOnly, String dbFile) throws ApiException {
        com.squareup.okhttp.Call call = listAllProcessModelsValidateBeforeCall(limit, start, category, query, starredOnly, dbFile, null, null);
        Type localVarReturnType = new TypeToken<ProcessModelInfoList>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieving a List of Process Models (asynchronously)
     * Retrieving a List of Process Models
     * @param limit Max number of records to return (optional)
     * @param start The offset of the first record to return (optional)
     * @param category Category of Process Model (optional)
     * @param query Search String (optional)
     * @param starredOnly Search for a starred Process Model (optional)
     * @param dbFile Search for a process model that uses a file with the specified name (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listAllProcessModelsAsync(Integer limit, Integer start, String category, String query, Boolean starredOnly, String dbFile, final ApiCallback<ProcessModelInfoList> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listAllProcessModelsValidateBeforeCall(limit, start, category, query, starredOnly, dbFile, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ProcessModelInfoList>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for listStartableProcessModels
     * @param limit Max number of records to return (optional)
     * @param start The offset of the first record to return (optional)
     * @param category Category of Process Model (optional)
     * @param query Search String (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call listStartableProcessModelsCall(Integer limit, Integer start, String category, String query, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/API/PE/ProcessModel/listStartable";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (start != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("start", start));
        if (category != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("category", category));
        if (query != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("query", query));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basic", "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call listStartableProcessModelsValidateBeforeCall(Integer limit, Integer start, String category, String query, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = listStartableProcessModelsCall(limit, start, category, query, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieving a List of startable Workflows
     * Retrieving a List of startable Workflows
     * @param limit Max number of records to return (optional)
     * @param start The offset of the first record to return (optional)
     * @param category Category of Process Model (optional)
     * @param query Search String (optional)
     * @return ActivityList
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ActivityList listStartableProcessModels(Integer limit, Integer start, String category, String query) throws ApiException {
        ApiResponse<ActivityList> resp = listStartableProcessModelsWithHttpInfo(limit, start, category, query);
        return resp.getData();
    }

    /**
     * Retrieving a List of startable Workflows
     * Retrieving a List of startable Workflows
     * @param limit Max number of records to return (optional)
     * @param start The offset of the first record to return (optional)
     * @param category Category of Process Model (optional)
     * @param query Search String (optional)
     * @return ApiResponse&lt;ActivityList&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ActivityList> listStartableProcessModelsWithHttpInfo(Integer limit, Integer start, String category, String query) throws ApiException {
        com.squareup.okhttp.Call call = listStartableProcessModelsValidateBeforeCall(limit, start, category, query, null, null);
        Type localVarReturnType = new TypeToken<ActivityList>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieving a List of startable Workflows (asynchronously)
     * Retrieving a List of startable Workflows
     * @param limit Max number of records to return (optional)
     * @param start The offset of the first record to return (optional)
     * @param category Category of Process Model (optional)
     * @param query Search String (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listStartableProcessModelsAsync(Integer limit, Integer start, String category, String query, final ApiCallback<ActivityList> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listStartableProcessModelsValidateBeforeCall(limit, start, category, query, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ActivityList>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for releaseProcessModel
     * @param processModelInfoId App ID (required)
     * @param note Version memo (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call releaseProcessModelCall(Long processModelInfoId, String note, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/API/PMM/ProcessModel/{processModelInfoId}/release"
            .replaceAll("\\{" + "processModelInfoId" + "\\}", apiClient.escapeString(processModelInfoId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (note != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("note", note));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basic", "oauth2" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call releaseProcessModelValidateBeforeCall(Long processModelInfoId, String note, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'processModelInfoId' is set
        if (processModelInfoId == null) {
            throw new ApiException("Missing the required parameter 'processModelInfoId' when calling releaseProcessModel(Async)");
        }
        

        com.squareup.okhttp.Call call = releaseProcessModelCall(processModelInfoId, note, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Release process model
     * Release process model
     * @param processModelInfoId App ID (required)
     * @param note Version memo (optional)
     * @return ProcessModelReseaseResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ProcessModelReseaseResult releaseProcessModel(Long processModelInfoId, String note) throws ApiException {
        ApiResponse<ProcessModelReseaseResult> resp = releaseProcessModelWithHttpInfo(processModelInfoId, note);
        return resp.getData();
    }

    /**
     * Release process model
     * Release process model
     * @param processModelInfoId App ID (required)
     * @param note Version memo (optional)
     * @return ApiResponse&lt;ProcessModelReseaseResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ProcessModelReseaseResult> releaseProcessModelWithHttpInfo(Long processModelInfoId, String note) throws ApiException {
        com.squareup.okhttp.Call call = releaseProcessModelValidateBeforeCall(processModelInfoId, note, null, null);
        Type localVarReturnType = new TypeToken<ProcessModelReseaseResult>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Release process model (asynchronously)
     * Release process model
     * @param processModelInfoId App ID (required)
     * @param note Version memo (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call releaseProcessModelAsync(Long processModelInfoId, String note, final ApiCallback<ProcessModelReseaseResult> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = releaseProcessModelValidateBeforeCall(processModelInfoId, note, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ProcessModelReseaseResult>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
