/*
 * Questetra BPM Suite APIs
 * Questetra BPM Suite APIs
 *
 * OpenAPI spec version: 11.8.0
 * Contact: support@questetra.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.questetra.bpms.client.swagger.api;

import com.questetra.bpms.client.swagger.ApiCallback;
import com.questetra.bpms.client.swagger.ApiClient;
import com.questetra.bpms.client.swagger.ApiException;
import com.questetra.bpms.client.swagger.ApiResponse;
import com.questetra.bpms.client.swagger.Configuration;
import com.questetra.bpms.client.swagger.Pair;
import com.questetra.bpms.client.swagger.ProgressRequestBody;
import com.questetra.bpms.client.swagger.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.questetra.bpms.client.swagger.model.Errors;
import com.questetra.bpms.client.swagger.model.QuserSystemAuthorityList;
import com.questetra.bpms.client.swagger.model.SystemAuthorityList;
import com.questetra.bpms.client.swagger.model.SystemAuthorityWrapper;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class SystemAuthorityApi {
    private ApiClient apiClient;

    public SystemAuthorityApi() {
        this(Configuration.getDefaultApiClient());
    }

    public SystemAuthorityApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for addToQgroup
     * @param type Type of System Authorization 0:System Administrator Authorization 1:App Creator Authorization 2:User Manager Authorization (required)
     * @param qgroupId Organization ID (required)
     * @param leader  (optional)
     * @param descendantQgroups  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call addToQgroupCall(Integer type, Long qgroupId, Boolean leader, Boolean descendantQgroups, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/API/Admin/SystemAuthority/addToQgroup";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (type != null)
        localVarFormParams.put("type", type);
        if (qgroupId != null)
        localVarFormParams.put("qgroupId", qgroupId);
        if (leader != null)
        localVarFormParams.put("leader", leader);
        if (descendantQgroups != null)
        localVarFormParams.put("descendantQgroups", descendantQgroups);

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basic", "oauth2" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call addToQgroupValidateBeforeCall(Integer type, Long qgroupId, Boolean leader, Boolean descendantQgroups, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'type' is set
        if (type == null) {
            throw new ApiException("Missing the required parameter 'type' when calling addToQgroup(Async)");
        }
        
        // verify the required parameter 'qgroupId' is set
        if (qgroupId == null) {
            throw new ApiException("Missing the required parameter 'qgroupId' when calling addToQgroup(Async)");
        }
        
        
        com.squareup.okhttp.Call call = addToQgroupCall(type, qgroupId, leader, descendantQgroups, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Granting a System Privilege to an Organization
     * Granting a System Privilege to an Organization
     * @param type Type of System Authorization 0:System Administrator Authorization 1:App Creator Authorization 2:User Manager Authorization (required)
     * @param qgroupId Organization ID (required)
     * @param leader  (optional)
     * @param descendantQgroups  (optional)
     * @return SystemAuthorityWrapper
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SystemAuthorityWrapper addToQgroup(Integer type, Long qgroupId, Boolean leader, Boolean descendantQgroups) throws ApiException {
        ApiResponse<SystemAuthorityWrapper> resp = addToQgroupWithHttpInfo(type, qgroupId, leader, descendantQgroups);
        return resp.getData();
    }

    /**
     * Granting a System Privilege to an Organization
     * Granting a System Privilege to an Organization
     * @param type Type of System Authorization 0:System Administrator Authorization 1:App Creator Authorization 2:User Manager Authorization (required)
     * @param qgroupId Organization ID (required)
     * @param leader  (optional)
     * @param descendantQgroups  (optional)
     * @return ApiResponse&lt;SystemAuthorityWrapper&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SystemAuthorityWrapper> addToQgroupWithHttpInfo(Integer type, Long qgroupId, Boolean leader, Boolean descendantQgroups) throws ApiException {
        com.squareup.okhttp.Call call = addToQgroupValidateBeforeCall(type, qgroupId, leader, descendantQgroups, null, null);
        Type localVarReturnType = new TypeToken<SystemAuthorityWrapper>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Granting a System Privilege to an Organization (asynchronously)
     * Granting a System Privilege to an Organization
     * @param type Type of System Authorization 0:System Administrator Authorization 1:App Creator Authorization 2:User Manager Authorization (required)
     * @param qgroupId Organization ID (required)
     * @param leader  (optional)
     * @param descendantQgroups  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call addToQgroupAsync(Integer type, Long qgroupId, Boolean leader, Boolean descendantQgroups, final ApiCallback<SystemAuthorityWrapper> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = addToQgroupValidateBeforeCall(type, qgroupId, leader, descendantQgroups, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SystemAuthorityWrapper>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for addToQrole
     * @param type Type of System Authorization 0:System Administrator Authorization 1:App Creator Authorization 2:User Manager Authorization (required)
     * @param qroleId Role ID (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call addToQroleCall(Integer type, Long qroleId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/API/Admin/SystemAuthority/addToQrole";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (type != null)
        localVarFormParams.put("type", type);
        if (qroleId != null)
        localVarFormParams.put("qroleId", qroleId);

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basic", "oauth2" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call addToQroleValidateBeforeCall(Integer type, Long qroleId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'type' is set
        if (type == null) {
            throw new ApiException("Missing the required parameter 'type' when calling addToQrole(Async)");
        }
        
        // verify the required parameter 'qroleId' is set
        if (qroleId == null) {
            throw new ApiException("Missing the required parameter 'qroleId' when calling addToQrole(Async)");
        }
        
        
        com.squareup.okhttp.Call call = addToQroleCall(type, qroleId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Granting a System Privilege to a Role
     * Granting a System Privilege to a Role
     * @param type Type of System Authorization 0:System Administrator Authorization 1:App Creator Authorization 2:User Manager Authorization (required)
     * @param qroleId Role ID (required)
     * @return SystemAuthorityWrapper
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SystemAuthorityWrapper addToQrole(Integer type, Long qroleId) throws ApiException {
        ApiResponse<SystemAuthorityWrapper> resp = addToQroleWithHttpInfo(type, qroleId);
        return resp.getData();
    }

    /**
     * Granting a System Privilege to a Role
     * Granting a System Privilege to a Role
     * @param type Type of System Authorization 0:System Administrator Authorization 1:App Creator Authorization 2:User Manager Authorization (required)
     * @param qroleId Role ID (required)
     * @return ApiResponse&lt;SystemAuthorityWrapper&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SystemAuthorityWrapper> addToQroleWithHttpInfo(Integer type, Long qroleId) throws ApiException {
        com.squareup.okhttp.Call call = addToQroleValidateBeforeCall(type, qroleId, null, null);
        Type localVarReturnType = new TypeToken<SystemAuthorityWrapper>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Granting a System Privilege to a Role (asynchronously)
     * Granting a System Privilege to a Role
     * @param type Type of System Authorization 0:System Administrator Authorization 1:App Creator Authorization 2:User Manager Authorization (required)
     * @param qroleId Role ID (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call addToQroleAsync(Integer type, Long qroleId, final ApiCallback<SystemAuthorityWrapper> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = addToQroleValidateBeforeCall(type, qroleId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SystemAuthorityWrapper>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for addToQuser
     * @param type Type of System Authorization 0:System Administrator Authorization 1:App Creator Authorization 2:User Manager Authorization (required)
     * @param quserId User ID (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call addToQuserCall(Integer type, Long quserId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/API/Admin/SystemAuthority/addToQuser";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (type != null)
        localVarFormParams.put("type", type);
        if (quserId != null)
        localVarFormParams.put("quserId", quserId);

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basic", "oauth2" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call addToQuserValidateBeforeCall(Integer type, Long quserId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'type' is set
        if (type == null) {
            throw new ApiException("Missing the required parameter 'type' when calling addToQuser(Async)");
        }
        
        // verify the required parameter 'quserId' is set
        if (quserId == null) {
            throw new ApiException("Missing the required parameter 'quserId' when calling addToQuser(Async)");
        }
        
        
        com.squareup.okhttp.Call call = addToQuserCall(type, quserId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Granting a System Privilege to a User
     * Granting a System Privilege to a User
     * @param type Type of System Authorization 0:System Administrator Authorization 1:App Creator Authorization 2:User Manager Authorization (required)
     * @param quserId User ID (required)
     * @return SystemAuthorityWrapper
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SystemAuthorityWrapper addToQuser(Integer type, Long quserId) throws ApiException {
        ApiResponse<SystemAuthorityWrapper> resp = addToQuserWithHttpInfo(type, quserId);
        return resp.getData();
    }

    /**
     * Granting a System Privilege to a User
     * Granting a System Privilege to a User
     * @param type Type of System Authorization 0:System Administrator Authorization 1:App Creator Authorization 2:User Manager Authorization (required)
     * @param quserId User ID (required)
     * @return ApiResponse&lt;SystemAuthorityWrapper&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SystemAuthorityWrapper> addToQuserWithHttpInfo(Integer type, Long quserId) throws ApiException {
        com.squareup.okhttp.Call call = addToQuserValidateBeforeCall(type, quserId, null, null);
        Type localVarReturnType = new TypeToken<SystemAuthorityWrapper>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Granting a System Privilege to a User (asynchronously)
     * Granting a System Privilege to a User
     * @param type Type of System Authorization 0:System Administrator Authorization 1:App Creator Authorization 2:User Manager Authorization (required)
     * @param quserId User ID (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call addToQuserAsync(Integer type, Long quserId, final ApiCallback<SystemAuthorityWrapper> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = addToQuserValidateBeforeCall(type, quserId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SystemAuthorityWrapper>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for delete
     * @param id System Authorization ID (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteCall(Long id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/API/Admin/SystemAuthority/delete";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (id != null)
        localVarFormParams.put("id", id);

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basic", "oauth2" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteValidateBeforeCall(Long id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling delete(Async)");
        }
        
        
        com.squareup.okhttp.Call call = deleteCall(id, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Deleting a System Privilege
     * Deleting a System Privilege
     * @param id System Authorization ID (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void delete(Long id) throws ApiException {
        deleteWithHttpInfo(id);
    }

    /**
     * Deleting a System Privilege
     * Deleting a System Privilege
     * @param id System Authorization ID (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteWithHttpInfo(Long id) throws ApiException {
        com.squareup.okhttp.Call call = deleteValidateBeforeCall(id, null, null);
        return apiClient.execute(call);
    }

    /**
     * Deleting a System Privilege (asynchronously)
     * Deleting a System Privilege
     * @param id System Authorization ID (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteAsync(Long id, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteValidateBeforeCall(id, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for list
     * @param type Type of System Authorization 0:System Administrator Authorization 1:App Creator Authorization 2:User Manager Authorization (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call listCall(Integer type, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/API/Admin/SystemAuthority/list";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (type != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "type", type));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basic", "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call listValidateBeforeCall(Integer type, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'type' is set
        if (type == null) {
            throw new ApiException("Missing the required parameter 'type' when calling list(Async)");
        }
        
        
        com.squareup.okhttp.Call call = listCall(type, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Retrieving a List of System Privilege
     * Retrieving a List of System Privilege
     * @param type Type of System Authorization 0:System Administrator Authorization 1:App Creator Authorization 2:User Manager Authorization (required)
     * @return SystemAuthorityList
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SystemAuthorityList list(Integer type) throws ApiException {
        ApiResponse<SystemAuthorityList> resp = listWithHttpInfo(type);
        return resp.getData();
    }

    /**
     * Retrieving a List of System Privilege
     * Retrieving a List of System Privilege
     * @param type Type of System Authorization 0:System Administrator Authorization 1:App Creator Authorization 2:User Manager Authorization (required)
     * @return ApiResponse&lt;SystemAuthorityList&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SystemAuthorityList> listWithHttpInfo(Integer type) throws ApiException {
        com.squareup.okhttp.Call call = listValidateBeforeCall(type, null, null);
        Type localVarReturnType = new TypeToken<SystemAuthorityList>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieving a List of System Privilege (asynchronously)
     * Retrieving a List of System Privilege
     * @param type Type of System Authorization 0:System Administrator Authorization 1:App Creator Authorization 2:User Manager Authorization (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listAsync(Integer type, final ApiCallback<SystemAuthorityList> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listValidateBeforeCall(type, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SystemAuthorityList>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for self
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call selfCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/API/User/SystemAuthority/self";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basic", "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call selfValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        
        com.squareup.okhttp.Call call = selfCall(progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Retrieving a List of the user&#39;s own System Privileges
     * Retrieving a List of the user&#39;s own System Privileges
     * @return QuserSystemAuthorityList
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public QuserSystemAuthorityList self() throws ApiException {
        ApiResponse<QuserSystemAuthorityList> resp = selfWithHttpInfo();
        return resp.getData();
    }

    /**
     * Retrieving a List of the user&#39;s own System Privileges
     * Retrieving a List of the user&#39;s own System Privileges
     * @return ApiResponse&lt;QuserSystemAuthorityList&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<QuserSystemAuthorityList> selfWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = selfValidateBeforeCall(null, null);
        Type localVarReturnType = new TypeToken<QuserSystemAuthorityList>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieving a List of the user&#39;s own System Privileges (asynchronously)
     * Retrieving a List of the user&#39;s own System Privileges
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call selfAsync(final ApiCallback<QuserSystemAuthorityList> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = selfValidateBeforeCall(progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<QuserSystemAuthorityList>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
